<%= provide(:title , @title)%>
<div class="row">
	<div class="col-md-6">
		<aside class="span4">
			<section>
				<div class="col-md-9">
				<%= gravatar_for @user%>
				<h1><%= @user.name%></h1>
				<span><%= link_to "view my profile",@user%></span>
				<span><b>Posts : </b><%= @user.posts.count%></span>
				<%= render 'shared/stats'%>

				</div>

			</section>
			<div class="col-md-5">
				<% if @users.any?%>
					<div class="user_avatars">
						<% @users.each do |user|%>
						<%= link_to gravatar_for(user, size: 20),user%>
					<%end%>
				</div>	
			<%end%>
			</div>
	</aside>

	</div>
<div class="col-md-6">
	<div class="span8">
		<h3><%= @title%></h3>
		<% if @users.any?%>
			<ul class="users">
				<%= render @users%>
			</ul>
			<%= will_paginate%>
		<%end%>
	</div>
	</div>
</div>

