<%= form_for(@post) do |f|%>
	<%= render 'shared/error_messages', object: @post%>
	<div class="field">
		
		<div class="row">
			<div class="col-md-6">
				<span class="title"><%=f.text_area :title ,placeholder: "Title" ,:size=>"30x1"%></span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<span class="title"><%=f.text_area :content, placeholder: "Compose new post....",:cols =>"30",:rows =>"10"%></span>
			</div>
		</div>
		
		
		
	</div>
	<%= f.submit "Post", class:"btn btn-large btn-primary"%>
<%end%>
